<head>
  <meta charset="UTF-8" />
  <title><%= title.capitalize %></title>
</head>

<style>
  body {
    background: #ddd;
    padding: 1rem;
  }

  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    border-radius: 0.5rem;
  }

  .title {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .line {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 1rem;
  }

  .dot {
    width: 5px;
    height: 5px;
    background: #333;
    border-radius: 100%;
  }

  img {
    max-width: 100%;
  }
</style>

<body>
  <div class="content">
    <div class="title"><%= title.capitalize %></div>
    <%= body %>
  </div>
</body>
