<head>
  <meta charset="UTF-8" />
  <title><%= title.capitalize %></title>
</head>

<style>
  body {
    background: #ddd;
    padding: 1rem;
    word-break: break-all;
  }

  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    border-radius: 0.5rem;
  }

  .title {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .line {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 1rem;
  }

  pre, code {
    background: #eee;
    margin: 0;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  blockquote {
    background: #eee;
    font-style: italic;
  }

  img {
    max-width: 100%;
  }
</style>

<body>
  <div class="content">
    <div class="title"><%= title.capitalize %></div>
    <%= body %>
  </div>
</body>
